[submodule "themes/archer"]
	path = themes/archer
	url = https://github.com/naor12345/hexo-theme-archer.git
[submodule "themes/butterfly"]
	path = themes/butterfly
	url = https://github.com/naor12345/hexo-theme-butterfly.git
